*{
	background-color: rgb(5, 119, 104);
}

.navbar{
	background-color: rgb(242, 250, 250);
	padding: 5px;
	border-radius: 5px;
	align-content:center;
	justify-content: flex-end;

	display: flex;
	position: fixed;
	width: 100%;

}

#introduction{
	background-image: url('churchInside.jpeg');
	padding: 40px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#homelink{
	text-decoration: none;
	background-color:rgb(237, 245, 245);
	margin-right: 20px;
}


#icon{
	height: 20px;
	border-radius: 30% 0 50%;
	margin-right: 50%;
}


.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 10px;
	
  }
  
  .gallery img {
	width: 100%;
	height: 320px;
  }

  #lor{
	display: inline-block;
  }


  
  
