.content{
	margin-top: 15%;
}



body{
	
	background-color: #e3e3f3;
	align-items: center;
	justify-content: center;
}


img{
	height: 150px;
	border-radius: 20px;
	display: inline-block;
	object-fit: contain;
	height: 100px;
	width: 50px;
} 


h6{
	margin-left: px;
	color: #15cf0f;
	border-radius: 20px;
	background-color: blanchedalmond;
	padding: 20px;
	cursor: pointer;
	display: inline-block;
	font-size:10vw
	text-align: center;
	overflow: auto;
	
}

.vission{
	<!-- background-color: rgb(30, 255, 0); -->
	text-align: center;
	display: inline-block;
	overflow: auto;
	padding: 10px;
	border-radius: 10px;
	/* margin-left: 10px; */
}

.mission{
	 /* background-color: rgb(30, 255, 0);  */
	text-align: center;
	display: inline-block;
	overflow: auto;
	padding: 10px;
	border-radius: 10px;
	/* margin-left: 10px; */
}



/* The whole content styles */
.TheImage{
   /* background-color:rgb(7, 62, 240) ; --> */
	display: inline-block;
	
	overflow: hidden;
	

}

/* styles for the message submit form */
#contact{
	background-color: rgb(39, 38, 38);
	color: aliceblue;
	padding: 10px;
}
#fname,
#Sname,
#message{
	margin-top: 10px;
}
#submit{
	font-size: medium;
	border-radius: 10px;
	cursor: pointer;
}

	#link{
		text-decoration: none;
	}
	.navbar {
		overflow: hidden;
		background-color: #fcf6f6;
		position: fixed;
		width: 100%;
		top: 0;
		text-align: center;
		justify-content: center;
		
	  }
	  
	  .navbar a {
		float: right;
		display: block;
		color: rgb(7, 6, 6);
		text-align: center;
		justify-content: center;
		padding: 14px 16px;
		text-decoration: none;
		margin-right: 5%;
	  }
	  
	   a:hover {
		background-color: #ddd;
		color: black;
	  }
	  
	  .navbar .icon {
		display: none;
	  }
	  
	  @media screen and (max-width: 600px) {
		.navbar a:not(:first-child) {display: none;}
		.navbar a.icon {
		  float: right;
		  display: block;
		}
	  }
	  
	   @media screen and (max-width: 900px) {
		.navbar.responsive {position: relative;}
		.navbar.responsive .icon {
		  position: absolute;
		  right: 0;
		  top: 0;
		}
	
		.navbar.responsive a {
		  float: none;
		  display: block;
		  text-align: left;
		}
	}
	  